.center, input,
table > thead > tr > th {
    text-align: center;
}

.table > tbody > tr > td {
    vertical-align: baseline !important;
    text-align: center;
}

#filter {
    padding-top: 8px;
    text-align: right;
}

::-webkit-input-placeholder {
   text-align: center;
}

/* Firefox 18- */
:-moz-placeholder {
   text-align: center;  
}
 
/* Firefox 19+ */
::-moz-placeholder {
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}